table,th,td{
    border: 2px solid rgb(42, 46, 57);
    
    margin: auto;
    bottom: none;
}
table{
    width: 70%;
    /* text-align: center; */
    height: 500px;

}
body{
    background-color: rgb(42, 46, 57);

}

td:hover{
    background-color: yellow;
    color: black;
    transition: 2s;
    transform: scale(1.2);
    font-weight: bold;
    
}
.odd{
    background-color: rgb(45, 51, 65);
}
.even{
    background-color: rgb(67, 74, 96);
}
th{
    color: rgb(50, 50, 144);
    text-align: left;
    font-weight: 300;
    
}
h1{
    text-align: center;
    color: blueviolet;
}
h2{
    text-align: center;
    color: crimson;
}
td{
    color: aliceblue;
}
.last{
    color: crimson;
}
